<!-- Begin Hero Section -->
<app-base-hero
  [title]="'Brains & Ballers'"
  [subtitle]="'After School Program '"
  [description]="description"
  [backgroundUrl]="'assets/img/pages/correspondence/vsaprep-correspondence-hero-bg.png'"
  [headerSize]="'xs'"
  [breadcrumb]="[
    { label: 'Home', link: ['/'+urlPath.toLowerCase()+'/student-athletes'] },
    { label: 'Programs' },
    { label: 'After-School' },
    { label: '' + interest +'', link: ['/'+urlPath+'/student-athletes'+'/'+interest.toLowerCase()+''] }
  ]"
  [ctas]="[
    { label: 'Book Your Spot Now',            routerLink: ['.'], fragment: 'register', variant:'primary', ariaLabel:'Start your journey with Varsity Sports Academy Prep' },
    { label: 'Explore Academic Programs',     routerLink: ['/'+urlPath+'/academic-tutoring'], variant:'outline', ariaLabel:'Explore academic programs with Varsity Sports Academy Prep' },
    { label: 'After School Program Schedule', routerLink: ['/'+urlPath+'/after-school'], fragment: 'schedules-and-pricing', variant:'outline', ariaLabel:'Explore VSA Prep After School Program schedule and dates.' }
  ]">
</app-base-hero>
<!-- End Hero Section -->

<section id="register" class="section section-white text-center py-5" aria-labelledby="consultation-heading">
  <div class="container">
    
    <!-- ✅ side-by-side columns: left info, right form -->
    <div class="row g-4">

      <!-- Left info card -->
      <div class="col-12 col-lg-5 contact-form-left align-left p-3">
 
        <header>
          <h2 id="what-you-get-heading" class="align-left">What you get</h2>
          <h4 class="text-white" >
            High-intensity skill training, game IQ development, leadership sessions, and showcase games—built to move you up a level.
          </h4>
        </header>

        <ul class="icon-list align-left text-white" role="list" aria-label="Varsity Sports Academy After School Program Highlights">
          <li class="d-flex" *ngFor="let item of highlights">
            <span class="icon" aria-hidden="true"></span>
            <div>{{ item }}</div>
        </li>
        </ul>

        <br />
        <h3 class="h5 mb-1">Call / WhatsApp:</h3>
        <p class="ps-3 mb-3">
          <a href="tel:+17186370566" class="text-white-50"><strong>(718) 637-0566</strong></a>
        </p>
        
        <h3 class="h5 mb-1">Email</h3>
        <p class="ps-3">
          <a href="mailto:VsaPrep@gmail.com" class="text-white-50"><strong>VsaPrep&#64;gmail.com</strong></a>
        </p>

      </div>
  
      <!-- Right: request form -->
      <div class="col-12 col-lg-7 contact-form-right p-3">
  
        <app-registration-intake-form></app-registration-intake-form>
  
      </div>
    </div>


  </div>
</section>

<!-- Newsletter & Social Plugins -->
<app-newsletter-form></app-newsletter-form>
<app-fixed-social-plugin></app-fixed-social-plugin>


