<div class="wrapper">

    <!-- hero-page.component.html -->
    <app-base-hero
    [title]="'Improve'"
    [subtitle]="'Skill. <strong>Strength.</strong> Speed.'"
    [description]="description"
    [backgroundUrl]="'assets/img/pages/what-we-do/vsaprep-what-we-do-hero.png'"
    [headerSize]="'none'"
    [breadcrumb]="[
        { label: 'Home', link: ['/'+urlPath+'/student-athletes'] },
        { label: 'Our Approach' }
    ]"
    [ctas]="[
        { label: 'Start Your Journey', routerLink: ['/'+urlPath+'/consultation'] , variant:'primary' },
        { label: 'Explore Academic Programs', routerLink: ['/'+urlPath+'/academic-tutoring'], variant:'outline' }
    ]">
    </app-base-hero>

  
  <div class="features-1 section-white">
      <div class="filter filter-black"></div>
      <div class="container">
          <div class="row">
              <div class="col-md-12 ml-auto mr-auto text-center">
                  <h2 class="text-center">Full-cycle Training & Athlete Management.</h2>
  
                  <h3 class="title">We <i class="fa fa-heart heart"></i>&nbsp; what we do and we know you do too.</h3>
  
                  <h5 class="text-center description">
                      Our mission is to inspire and motivate young athletes to reach their highest potential in life and sport while balancing proven training techniques with real life-sports demands to go big and cross any finish line.
  
                      We offer camps and clinics, team and one-on-one sessions, strength and performance training, sport specific training, wellness and nutrition guidance, and additional tailored programs to suit your young athlete needs.
                      Not sure where to start?
                      <a [routerLink]="['/'+urlPath+'/contact']" aria-label="Contact Varsity Sports Academy Prep.">Contact us</a> today and one of our expert coches will get back to you and discuss a program that fits best with your young athlete's desired goal.
                  </h5>
              </div>
  
          </div>
      </div>
  </div>
  
  <section class="section page-header-xs div-section-seperator" style="padding: 0px;padding-top: 20px;padding-bottom: 40px;">
      <div class="filter filter-black"></div>
      <div class="container">
          <div class="row">
              <div class="col-md-12 ml-auto mr-auto text-center">
                  <h3 class="text-color-white">There is "only one secret sauce" for becoming an ELETE</h3>
                  <h4 class="title text-color-white">Our motto <strong>"Labor Durus!"</strong> The latin translation for <strong>"Hard Work!"</strong></h4>
                  <br />
                  <a [routerLink]="['/'+urlPath+'/contact']" class="btn btn-main btn-lg btn-magnify">
                      &nbsp; Start your  <strong>Elete</strong> Journey &nbsp;
                  </a>
              </div>
          </div>
      </div>
  </section>
  
  <section class="section div-color-white" style=" background-image: url('assets/img/pages/sections/full-cycle.jpg');  padding: 0px;" >
      <div class="filter filter-black"></div>
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-6 ml-auto mr-auto div-color-neutral" style="padding: 100px;">
                  <div class="row">
                      <h2 class="align-left" style="margin-top:0px;">The Only ...</h2>
                      <h3 class="title  align-left">Sports Development Partner you need</h3>
  
                      <div class="row">
  
                          <div class="col-md-6 col-sm-6">
                              <div class="info">
                                  <div class="icon icon-danger">
                                      <img src="assets/img/pages/sections/icons/icon-profile.png" width="100" />
  
                                  </div>
                                  <div class="description">
                                      <h4 class="info-title  text-color-primary">Free Profile</h4>
                                      <p class="description">
                                          We provide all our <strong>All Elete Sports</strong>s with a free sports and performance profile where they can self-manage and track their progress.
                                      </p>
                                      <!--<a href="#/contact?usertype=athlete" class="btn btn-link btn-danger">Request more info</a>-->
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6 col-sm-6">
                              <div class="info">
                                  <div class="icon icon-danger">
                                      <img src="assets/img/pages/sections/icons/icon-skills.png" width="100" />
                                  </div>
                                  <div class="description">
                                      <h4 class="info-title  text-color-primary">True Potential</h4>
                                      <p class="description">
                                          Life is to short to avoid <strong>"Labor Durus"</strong>.  Get stronger.  Get faster.  Get Smarter.
                                      </p>
                                      <!--<a href="#/contact?usertype=athlete" class="btn btn-link btn-danger">Request more info</a>-->
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6 col-sm-6">
                              <div class="info">
                                  <div class="icon icon-danger">
                                      <img src="assets/img/pages/sections/icons/icon-analytics.png" width="100" />
                                  </div>
                                  <div class="description">
                                      <h4 class="info-title  text-color-primary">Analytics</h4>
                                      <p class="description">
                                          Detailed insights gives our <strong>All Elete Sports</strong> a competitive advantage and allows them to reach their true potential.
                                      </p>
                                      <!--<a href="#/contact?usertype=athlete" class="btn btn-link btn-danger">Request more info</a>-->
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6 col-sm-6">
                              <div class="info">
                                  <div class="icon icon-danger">
                                      <img src="assets/img/pages/sections/icons/icon-ml.png" width="100" />
                                  </div>
                                  <div class="description">
                                      <h4 class="info-title  text-color-primary">Machine Learning</h4>
                                      <p class="description">
                                          Improves efficiency and provides more time to translate data into powerful performance insights.
                                      </p>
                                      <!--<a href="#/contact?usertype=athlete" class="btn btn-link btn-danger">Request more info</a>-->
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
  
              <div class="col-md-6 ml-auto mr-auto">
                  &nbsp;&nbsp;
              </div>
          </div>
  
      </div>
  </section>
  
  <section class="section page-header-xs div-section-seperator" style="padding: 0px;padding-top: 20px;padding-bottom: 40px;">
      <div class="container overlay-content">
          <div class="row">
              <div class="col-md-12 ml-auto mr-auto text-center">
                  <h3 class="text-color-white"> How you will reach an ELETE Level! With every session, you'll improve your game, learn new skills and gain confidence. </h3><br />
              </div>
          </div>
          <div class="row">
              <div class="col-md-12 ml-auto mr-auto text-center">
                  <a [routerLink]="['/'+urlPath+'/consultation']" class="btn btn-main btn-lg btn-magnify">
                      &nbsp; Request a Consultation &nbsp;
                  </a>
              </div>
          </div>
  
      </div>
  </section>
  
  <section class="section section-white">
      <div class="filter filter-black"></div>
      <div class="container">
          <div class="row">
              <div class="ml-auto mr-auto description-section text-center">
                  <h2 class="text-center" style="padding-bottom:30px;">The ELETE Difference.</h2>
                  <h5 class="description text-center">
                      <strong>All Eletes Sports</strong> is a results driven youth sports program focusing on the 5 pillars of sports' success; Developing a Strong IQ, Strength and Conditioning, Attention to Detail, Proper Footwork, and Progressive Skill Advancement. These pillars allow any player to develop and ensure they have the confidence, the skill level, and the strength and conditioning to excel on any field or court.
                  </h5>
              </div>
  
          </div>
          <div class="row">
              <div class="col-md-6 ml-auto" style="padding-bottom:10px;">
                  <div class="no-transition" data-background="color" data-color="slategray">
                      <div class="card-body text-left">
                          <img src="assets/img/pages/sections/strength-training_580x360.png" alt="Strength Training For Adolescents" width="535" />
  
                          <br />
                          <h4 class="text-color-primary" style="padding-bottom:20px;">Year-round Development</h4>
                          <h5 class="text-left description">
                              We're an independent year-round private sports program for athletic development dedicated exclusively to boys and girls ages 4-14 years competing in any sport.
                          </h5>
                      </div>
                  </div>
              </div>
  
              <div class="col-md-6 ml-auto" style="padding-bottom:10px;">
                  <div class="no-shadow no-transition" data-background="color" data-color="light-gray">
                      <div class="card-body text-left">
                          <img src="assets/img/pages/sections/holistic-approach_580x360.png" alt="Holistic Approach" width="535" />
                          <br />
                          <h4 class="text-color-primary" style="padding-bottom:20px;"> Holistic Approach </h4>
                          <h5 class="text-left description">
                              We take a holistic approach by focusing on mental, physical and technical development. "Every ELETE Athlete Will Improve their Competitive Fire & Gain Aggressive Confidence!"
                          </h5>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  
  <!--Correspondence-->
  <app-newsletter-form></app-newsletter-form>

</div>

<script type="application/ld+json">
  {
    "@context":"https://schema.org",
    "@type":"BreadcrumbList",
    "itemListElement":[
      {"@type":"ListItem","position":1,"name":"Home","item":"https://www.varsitysportsacademy.com/en"},
      {"@type":"ListItem","position":2,"name":"What We Do","item":"https://www.varsitysportsacademy.com/en/what-we-do"},
      {"@type":"ListItem","position":3,"name":"Academic Tutoring","item":"https://www.varsitysportsacademy.com/en/what-we-do/approach"}
    ]
  }
</script>
  